#adminPage {
  // font-family: "Ubuntu", sans-serif !important;
  font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  height: 100%;
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  background: url("../images/bbimg.jpg");
  background-size: cover;

  .adminPage {
    width: 60%;
    padding: 10px 0px;
  }
  .head {
    border-top: solid 5px #4285f4 !important;
    font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
    font-size: 32px;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 24px;
  }
  .bodyPart {
    font-size: 16px;
    margin-top: 1%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    border: solid 1px lightgray;
    border-left: solid 5px #4285f4;
    border-top: solid 5px #4285f4;
  }
  .nameCon {
    flex: 0.4;
    text-align: start;
  }
  .contactCon {
    flex: 0.5;
    text-align: start;
  }
  // .careerCon {
  //   flex: 0.15;
  //   text-align: start;
  // }
  .photoCon {
    flex: 0.1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #cameraIcon,
  #imgIcon,
  #sendIcon,
  #deleteIcon {
    font-size: 24px;
    cursor: pointer;
  }
  .cameraSpan,
  .imageSpan,
  .sendSpan,
  .deleteSpan {
    margin-right: 1%;
  }
  #cameraIcon:hover {
    color: blue;
  }
  #imgIcon:hover {
    color: greenyellow;
  }
  #sendIcon:hover {
    color: green;
  }
  #deleteIcon:hover {
    color: red;
  }
}
