#admin {
  background-color: #d7d8d8;
  min-height: 100vh;
  height: 100%;
  font-family: "Rubik", sans-serif;
  color: #5a3014;

  table,
  td {
    border: solid 1px #5a3014;
    border-collapse: collapse;
  }
  td {
    padding: 5px;
    font-size: 15px;
  }
  table {
    width: 100%;
  }
  .tdADiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #maleIcon {
    font-size: 40px;
    color: blue;
  }
  #femaleIcon {
    font-size: 40px;
    color: rgb(223, 45, 143);
  }
  #cameraSpan,
  #autoIcon,
  #deleteIcon {
    font-size: 24px;
  }
  .adminTable {
    padding: 2% 5%;
  }
  .iconsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #careerIcon {
    font-size: 22px;
  }
  .careerDiv,
  .careerIconSpan {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .tdC {
    width: 10%;
  }
  #deleteIcon:hover {
    cursor: pointer;
    color: rgb(247, 7, 7);
  }
  #autoIcon:hover {
    cursor: pointer;
    color: rgb(240, 118, 137);
  }
  #cameraIcon:hover {
    cursor: pointer;
    color: rgb(110, 187, 235);
  }

  .phoneInp {
    border: none;
    padding: 10px 5px;
    border-radius: 10px;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    border: solid 1px #5a3014;
  }
  .phoneInp:focus {
    outline: none;
  }
  .phoneSearch {
    margin-bottom: 1%;
    text-align: center;
  }
  .univLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .univName {
    text-align: center;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .logoImg {
    width: 175px;
  }
  #hrLine {
    width: 75%;
  }
  .tabLoading {
    text-align: center;
  }
  .cameraSpan,
  .sendSpan,
  .deleteSpan {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .altImg {
    width: 100%;
    border-radius: 10px;
  }
  .iconsDivs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .wholeAi {
    padding: 0% 10%;
    display: flex;
    justify-content: center;
  }
  .subAi {
    width: 50%;
  }
  .backDiv {
    display: flex;
  }
  .backIconDiv {
    flex: 0.3;
  }
  .aiHead {
    flex: 0.7;
  }
  #backIcon,
  #restartIcon,
  #sendIcon {
    cursor: pointer;
  }
  .aiDiv {
    margin-top: 1%;
    margin-bottom: 2%;
  }
  .tabTable {
    border: solid 1px #5a3014;
  }

  @media only screen and (max-width: 600px) {
    .tabTable {
      max-width: 600px;
      overflow-x: scroll;
    }
  }

  .tabTable::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  /* Track */
  .tabTable::-webkit-scrollbar-track {
    background: lightgray;
  }

  /* Handle */
  .tabTable::-webkit-scrollbar-thumb {
    background: #5a3014;
    width: 7px;
    height: 3px;
  }
}
