#RegisterPage {
  background: url("../images/abimg.jpg");
  background-size: cover;

  .registerPage {
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
  .page {
    width: 400px;
    padding: 10px 10px;
  }
  .head {
    border-top: solid 5px #4285f4 !important;
  }
  .head,
  .nameDiv,
  .emailDiv,
  .phoneDiv,
  .careerDiv {
    font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
    font-size: 32px;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 24px;
  }
  .nameDiv,
  .emailDiv,
  .phoneDiv,
  .careerDiv {
    margin-top: 3%;
  }
  .text {
    font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  .inputDiv {
    margin-top: 1%;
  }
  .nameInput,
  .emailInput,
  .phoneInput {
    width: 50%;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: none;
    border-bottom: solid 1px lightgray;
  }
  .nameInput:focus,
  .emailInput:focus,
  .phoneInput:focus {
    outline: none;
    border-bottom: solid 1px gray;
  }
  #careerForm {
    margin-top: 2%;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    font-size: 16px !important;
    width: 50%;
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl {
      border: none;
    }
    input {
      font-family: "docs-Roboto", Helvetica, Arial, sans-serif !important;
      font-size: 16px !important;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl::before {
      border: none;
      border-bottom: solid 1px lightgray !important;
    }
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl::after {
      border: none;
      border-bottom: solid 1px gray !important;
    }
    input {
      border: none;
    }
  }
  .aster {
    color: red;
    font-weight: 900;
  }
  .finalDiv {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .resetDiv {
    font-family: "docs-Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: gray;
    font-weight: bolder;
  }
  .resetDiv:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
