.webCamPage {
  background-color: #d7d8d8;
  color: #5a3014;
  font-weight: 700;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  // align-items: center;
  .page {
    padding: 10px;
  }
  .livCamDiv {
    flex: 0.5;
    display: flex;
    justify-content: center;
  }
  .showCamDiv {
    flex: 0.5;
    display: flex;
    justify-content: center;
  }
  #webcamLive,
  .dispImg {
    border: solid 1px #5a3014;
    border-radius: 10px;
  }
  .captureDiv {
    text-align: center;
  }
  .redBtn {
    font-size: 40px;
    color: red;
    cursor: pointer;
  }
  .imgSubmit {
    text-align: center;
    margin-top: 1%;
  }
}
